<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xjt.dao.master.DictcolorDao" >

    <resultMap id="BaseResultMap" type="com.xjt.entity.Dictcolor" >
        <id column="Colordd" property="colordd" jdbcType="VARCHAR" />
    </resultMap>

    <delete id="deleteByPrimaryKey" parameterType="java.util.List" >
        delete from dictcolor
        where Colordd in
        <foreach collection="colors" item="color" index="index" open="(" close=")" separator=",">
            #{colordd,jdbcType=VARCHAR}
        </foreach>

    </delete>

    <insert id="insert" parameterType="com.xjt.entity.Dictcolor" >
        insert into dictcolor (Colordd)
        values (#{colordd,jdbcType=VARCHAR})
    </insert>

    <insert id="insertSelective" parameterType="com.xjt.entity.Dictcolor" >
        insert into dictcolor
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="colordd != null" >
                Colordd,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="colordd != null" >
                #{colordd,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <!--批量添加颜色膜层-->
    <insert id="insertColorBatch" parameterType="java.util.List">
        insert into dictcolor (Colordd)
        values
        <foreach collection="colors" item="color" index="index" separator=",">
            (#{color})
        </foreach>
    </insert>
    <!--查看所有颜色膜层-->
    <select id="queryAllColors" resultMap="BaseResultMap" parameterType="com.xjt.entity.Dictcolor">
        select Colordd
            from dictcolor
            <where>
                <if test="colordd != null">
                   and Colordd like concat ('%',#{colordd},'%')
                </if>
            </where>
    </select>
</mapper>