<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xjt.dao.master.DictcalltextDao" >

    <resultMap id="BaseResultMap" type="com.xjt.entity.Dictcalltext" >
        <id column="CallText" property="calltext" jdbcType="VARCHAR" />
    </resultMap>

    <delete id="deleteByPrimaryKey" parameterType="java.util.List" >
        delete from dictcalltext
        where CallText in
       <foreach collection="calltexts" item="text" open="(" index="index" close=")" separator=",">
           #{calltext,jdbcType=VARCHAR}
       </foreach>

    </delete>

    <insert id="insert" parameterType="com.xjt.entity.Dictcalltext" >
        insert into dictcalltext (CallText)
        values (#{calltext,jdbcType=VARCHAR})
    </insert>

    <insert id="insertSelective" parameterType="com.xjt.entity.Dictcalltext" >
        insert into dictcalltext
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="calltext != null" >
                CallText,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="calltext != null" >
                #{calltext,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <!--批量添加-->
    <insert id="insertTextBatch" parameterType="java.util.List">
        insert into dictcalltext (CallText)
        values
          <foreach collection="calltexts" item="text" index="index" separator=",">
              (#{calltext})
          </foreach>
    </insert>
    <!--查看回访-->
    <select id="queryAllTexts" parameterType="com.xjt.entity.Dictcalltext" resultMap="BaseResultMap">
        select CallText
          from dictcalltext
            <where>
                <if test="calltext != null">
                    and CallText like concat ('%',#{calltext},'%')
                </if>
            </where>
    </select>
</mapper>