<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xjt.dao.master.DictprovinceDao" >

    <resultMap id="BaseResultMap" type="com.xjt.entity.Dictprovince" >
        <id column="Province" property="province" jdbcType="VARCHAR" />
    </resultMap>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
        delete from dictprovince
        where Province = #{province,jdbcType=VARCHAR}
    </delete>

    <insert id="insert" parameterType="com.xjt.entity.Dictprovince" >
        insert into dictprovince (Province)
        values (#{province,jdbcType=VARCHAR})
    </insert>

    <insert id="insertSelective" parameterType="com.xjt.entity.Dictprovince" >
        insert into dictprovince
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="province != null" >
                Province,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="province != null" >
                #{province,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
</mapper>